@using TeamBuilder.Clients.Models.Team

@model TeamDetailsViewModel
@{
    ViewBag.Title = "Details";
}


<main class="container body-content">
    <aside class="col-md-3">
        <img class="img-responsive" src="@this.Model.LogoUrl" alt="@this.Model.Name's picture" />

        <div class="team-info">
            <h4>@this.Model.Name [<span>@this.Model.Acronym</span>]</h4>

            <h4>
                @if (this.Model.CanSentJoinRequest)
                {
                    @Html.Partial("~/Views/Partial/Team/SendJoinRequest.cshtml", this.Model.SendJoinRequestViewModel)
                }
            </h4>
        </div>


        <hr />


    </aside>

    <section class="profile">
        @Html.Partial("~/Views/Partial/Team/Profile.cshtml", this.Model.TeamProfileViewModel)
    </section>
</main>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
