@{
    ViewBag.Title = "Index";
}

<div class="container body-content">

    <section class="search">
        <form action="/search" method="get" class="form-inline">
            <input type="text" name="query" placeholder="Search ..." class="form-control" />
            @Html.DropDownList("type", this.ViewBag.SearchTypes as SelectList, htmlAttributes: new { @class = "form-control" })
        </form>
    </section>

    <section class="activity-logs col-md-8">
        @foreach (string message in ViewBag.Activities)
        {
            <div class="row">@message</div>
            <hr>
        }
    </section>

    <aside class="col-md-4">
        <h4>
            Upcoming events:
            @Html.ActionLink("New event", "Create", "Event", htmlAttributes: new { id = "new-event", @class = "btn-success btn-sm pull-right" }, routeValues: new {})
        </h4>
        <section class="upcoming-events">
            @foreach (var e in ViewBag.Events)
            {
                <div class="listed-event">
                    <a href="/event/details/@e.Id">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        @e.Name
                        <span class="pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i>@e.StartDate</span>
                    </a>
                </div>
            }
        </section>

        <h4>
            My teams:
            @Html.ActionLink("New team", "Create", "Team", htmlAttributes: new { id = "new-team", @class = "btn-success btn-sm pull-right" }, routeValues: new {})
        </h4>
        <section class="my-teams">
            @foreach (var t in ViewBag.Teams)
            {
                <div class="listed-team">
                    <a href="/team/details/@t.Id"><i class="fa fa-users" aria-hidden="true"></i>@t.Name</a>
                </div>
            }
        </section>
    </aside>
</div>

<div class=""></div>

