@model string

<br />
<section class="boxed-group">
    @using (Html.BeginForm("ChangeProfilePicture", "Manage", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "form-horizontal", id = "update-picture-form" }))
    {
        @Html.AntiForgeryToken()

        <h3>Change Profile Picture</h3>

        <input disabled="disabled" type="hidden" value="@this.Model" name="userId" />

        <div class="box-group-inner">
            <div class="form-group inline-group">
                <div class="col-md-offset-2">
                    <input id="file-input" class="form-control-static inline" type="file" accept=".png,.jpg,jpeg" name="NewProfilePicture" />
                    <span class="input-group-btn inline">
                        <input class="btn btn-default inline" type="submit" value="Upload" />
                    </span>
                </div>
            </div>

        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
    }
</section>

<section class="boxed-group">
    @using (Ajax.BeginForm(null, null, new AjaxOptions()
    {
        HttpMethod = "post",
        Url = Url.Action("ChangeEmail", "Manage"),
        OnSuccess = "onEmailChangeSuccess",
        OnFailure = "onEmailChangeFail"

    }, new { @class = "form-horizontal", id = "change-email-form" }))
    {
    @Html.AntiForgeryToken()

    <h3>Change Email</h3>
    <div class="box-group-inner">

        <div class="form-group inline-group">
            <label id="email-label" class="control-label col-md-2" for="email">Email</label>
            <input id="email" class="form-control inline" type="text" name="email" />

            <span class="input-group-btn inline">
                <input id="btn-change-email" class="btn btn-link" type="submit" value="Change" onclick="onChangeEmailClick()" />
            </span>
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    }

</section>


<section class="boxed-group">
    @using (Ajax.BeginForm(null, null, new AjaxOptions()
                                           {
                                               Url = Url.Action("ChangePassword", "Manage"),
                                               HttpMethod = "post",
                                               OnSuccess = "onPasswordChangeSuccess",
                                               OnFailure = "onPasswordChangeFail"
                                           }, new { @class = "form-horizontal", role = "form", id = "change-password-form" }))
    {
    @Html.AntiForgeryToken()
    <h3>Change Password</h3>
    <div class="box-group-inner">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group inline-group">
            <label class="control-label col-md-2" for="oldPassword">Old Password</label>
            <input id="oldPassword" type="password" name="oldPassword" class="form-control inline" />
        </div>
        <div class="form-group inline-group">
            <label class="control-label col-md-2" for="newPassword">New Password</label>
            <input id="newPassword" type="password" name="newPassword" class="form-control inline" />
        </div>
        <div class="form-group inline-group">
            <label class="control-label col-md-2" for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" type="password" name="confirmPassword" class="form-control col-md-10 inline" />
        </div>
        <div class="form-group">
            <div id="btn-change-password-wrapper" class="col-md-offset-2 col-md-10 ">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    </div>

    }
</section>