<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Builder</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="/Content/bootstrap.css?token=1" rel="stylesheet" type="text/css">
    <link href="/Content/Site.css?token=413113" rel="stylesheet" type="text/css">
    <link rel="icon" type="img/ico" href="/Content/images/favicon.ico">

    @Styles.Render("~/Content/styles")
    @Styles.Render("~/Content/plugins")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/sweetalert")
</head>
<body data-spy="scroll">
    @Html.Partial("Header")
    @RenderBody()

    <footer id="page-footer" class="footer">
        <div class="container text-center">
            <small class="copyright">Made with <i class="fa fa-heart"></i></small>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/plugins")
</body>
</html>
